.header{
    text-align: center;
    font-family: Impact;
    color: black;}

    body{
background-color: rgb(198, 169, 231);
    }
#p1h3{
    text-align: center;
    font-family: Verdana;
    color: rgb(51, 51, 56);
}

#p1h4{
    text-align: center;
    font-family: Verdana;
    color: rgb(51, 51, 56);
}


